# Build and Release Folders
bin/
bin-debug/
bin-release/
ads/
classes/
config/
controllers/
css/
images/
includes/
index.php
newsletter-survey.html
preview-files/
preview.php
preview2.php
promo.html
templates/
views/
widgets/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
